.teacher-resume-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    justify-items: center;
    margin-top: 50px;
}

.teacher-resume-wrapper >*{
    width: 100%;
    padding: 2%;
}
.qualification-experience-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    justify-items: center;

}

.qualification-experience-wrapper >*{
    width: 49%;

}

.professional-referee-resume{
    width: 50%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .teacher-resume-wrapper{
        margin-top: 20px;
    }

    .qualification-experience-wrapper{
        flex-direction: column;
    }

    .qualification-experience-wrapper >*{
        width: 98%;
    }

    .professional-referee-resume{
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .professional-referee-resume{
        width: 98%;
    }
}